
* {
    margin:0;
    padding:0;
}
body {
    background-color: #192231;
}

.header{

    background-color: #192231;
    border-bottom: groove 1px darkgray;
    color: darkgray;
    width:100%;
    text-align:center;
    padding:7px;
    margin: 0 auto;
    display: flex;
    
}

#left{

    float:left;
    margin:0 auto;

}

    #left:hover {
        color: ghostwhite;
    }

#right{

    float:right;
    margin: 0 auto;
}

    #right:hover {
        color: ghostwhite;
    }

#bottom-menu {
    width: 1024px;
    background: radial-gradient(darkgray, #192231);
    -webkit-border-radius: 35px 35px 35px 35px;
    color: #270707;
    display: grid;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 2px solid darkgray;
    border-top: 2px solid darkgray;
    position: relative;
    cursor:pointer;
    }

    #bottom-menu ul {
        list-style: none;
    }

    #bottom-menu ul li {
            padding: 10px;
            justify-content: flex-start;
            text-align: center;
            color: #192231;
            font-weight: 500;
        }

    #bottom-menu ul li:hover{
            color:darkgray;
            background-color:#192231;
    }

#button-group 
{
    margin:0 auto;
    display: flex; 
    padding-top: 7px;
    padding-bottom:7px;
    width: 1024px;
    background-color: #192231;
    border-bottom: 1px solid lightgray;
    justify-content: space-around;
    margin-bottom: 15px;

} 


#button-group button {

   margin-bottom:7px;
   margin-top:7px;
   padding: 7px;
   background: lightgray;
   color: #192231;
   cursor:pointer;

    }

    #button-group button:hover {

        color: #192231;
        text-shadow: 10px 9px 2px #363;
        border:none;
    }

.content{
    width:1024px;
    margin: 0 auto;
    padding-top:12px;
}

#left-side {

        height:auto;
        float: left;
        padding-top:10px;
        margin-bottom:25px;
}

#left-side h3 {

        color:darkgray;
        width:340px;
        text-align:center;
        padding:5px;
        margin-top:7px;
        margin-bottom:7px;

}

    #left-side p {
        width: 340px;
        text-align: justify;
        padding: 5px;
        color: darkgray;
    }

#left-side #declination {
        color:darkgray;
        width: 340px;
        text-align: left;
        padding: 5px;
    }


#right-side {
        padding-left:10px;
        height:500px;
        margin-bottom:25px;
        overflow-y:auto;
        /*margin-left: 10px;*/
        overflow-x: hidden;
        margin: 0 auto;
        margin-top:10px;


}

#right-side h3 {
        color:darkgray;
        text-align:center;
        width:640px;
        padding:5px;
        margin-top:7px;
        margin-bottom:7px
}

    #right-side p {

        padding: 5px;
        color:darkgray;
    }

#right-side #haben{
        width:300px;
        float:left;
}

#right-side #sein{
        width:300px;
        float:right;
}

#widget-left {

    width: 350px;
    background: radial-gradient(darkgray, #192231);
    float: left;
    padding: 5px; 
    -webkit-border-radius: 35px 35px 35px 35px;
    text-align:center;

}
#widget-left p{

    display:inline-flex;
    font-size: 25px;
    color: #192231;
    

}

#verbOnRefresh{

    text-transform:uppercase;
}

.widget-right {

    width: 650px;
    padding:5px;
    background: radial-gradient(darkgray, #192231);
    float: right;
    -webkit-border-radius: 35px 35px 35px 35px;
    text-align:center;
}

.widget-right p{

    color:#192231;
    font-size:25px;
    display:inline-flex;

}

.footer {

    position:fixed;
    bottom: 0;
    background-color: #192231;
    border-top: groove 2px white;
    color: lightgray;
    width: 100%;
    padding: 7px;
    display: flex;

}

.footer h4{

    margin: 0 auto;

}

.footer #clock{

    color: beige;
    text-transform: uppercase;

}

#randomWordsModal{

    background: radial-gradient(beige, #192231);
    width:1024px;
    height:auto;
    padding:9px;
    display:none;
    margin: 0 auto;
    text-align:center;
    color:#192231;

}

#randomWordsModal span {

    padding: 0 50px;
    font-weight: 600;

}

#randomWordsModal #closeButton{

   font-weight:700;

}

#closeButton, #closeButtonT, #closeButtonM{

    color: black;
    text-decoration:none;
    cursor:pointer;

}

#translatedWord {

    display: block;
    background-color: #192231;
    width: 1024px;
    height: auto;
    padding: 9px;
    margin: 0 auto;
    text-align: center;
    color: floralwhite;
    font-weight:600;

}

#randomMedicalWordsModal{

    background: radial-gradient(beige, #192231);
    width:1024px;
    height:auto;
    padding:9px;
    display:none;
    margin: 0 auto;
    text-align:center;
    color:#192231;

}

#randomMedicalWordsModal span {

    padding: 0 50px;
    font-weight: 600;

}

#randomTechnicalWordsModal{

    background: radial-gradient(beige, #192231);
    width:1024px;
    height:auto;
    padding:9px;
    display:none;
    margin: 0 auto;
    text-align:center;
    color:#192231;

}

#randomTechnicalWordsModal span {

    padding: 0 50px;
    font-weight: 600;

}

.test{
    display:flex;
    justify-content: space-between;
}

#declension {
    margin: 0 auto;
    padding: 15px;
}

#form {
    padding:10px;
    text-align:center;
}